.tab-section {
  margin: 20px;
}
.nav-tabs {
  border-bottom: 1px solid #999999;
}
.nav-item {
  margin-right: 2px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #999999;
}
.nav-tabs .nav-link {
  color: #158fed !important;
  background-color: #ffffff;
  border: 1px solid #999999;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #333333 !important;
  background-color: #f0f6fa;
  border: 1px solid #999999;
  border-bottom: 1px solid #f0f6fa;
}
.tab-pane {
  background-color: #f0f6fa;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #999999;
  border-top: 1px solid #f0f6fa;
  padding: 20px;
}
